@page "/photo-album/{AlbumID:long}"
@inject HttpClient HttpClient
@using System.Threading
@using System.IO
@using System.Collections.Generic
@using photos_library.Models

<h1>@Title</h1>
<div class="photo-album">
	@foreach (var photo in Photos) {
		<div class="photo-frame">
			<img class="photo" src="@BasePath/@photo.Path" />
			<div class="photo-title">@photo.Title</div>
		</div>
	}
</div>

@code {
	[Parameter] public long AlbumID { get; set; }
	private IEnumerable<Photo> Photos = new Photo[0];
	private const string BasePath = "http://localhost:5000/api/albums";
	private string Title { get; set; } = "Photos";

	protected async override Task OnInitializedAsync() {
		try {
			Photos = await HttpClient.GetJsonAsync<List<Photo>>($"{BasePath}/photos/{AlbumID}");
		} catch {
			Photos = new Photo[0];
		}

		try {
			var album = await HttpClient.GetJsonAsync<Album>($"{BasePath}/{AlbumID}");
			Title = album.Title;
		} catch {
			Title = "Photos";
		}
	}
}
